/* 本文のレイアウトを整える */

.stack >* * *{
    /* <div className={styles.stack}>の直下の子要素(1つ目以外)の間隔を上マージンで1.5emに指定。 */
    margin-top:var(--stack-space,1.5em);
}


.stack h2,
.stack h3 {
    /* 見出し<h2>と<h3>の上の間隔は大きくするように指定。 */
    --stack-space:2em;
}

.stack h2 + *,
.stack h3 + * {
    /* 見出し<h2>と<H3>の下の間隔は小さくするように指定。 */
    --stack-space: 0.8em;
}

.stack p{
    /* 文章の行の高さを広くするように指定。 */
    line-height:1.8;
}

.stack ul{
    padding: revert;
    /* リスト<ul>は本文中で使う可能性があるため、グローバルスタイル(P87)でリセットしたスタイルをブラウザ標準のスタイルに戻すように指定。 */
    list-style:revert;
}